Package: com.kingpuffdaddi.line2pad
Name: LINE2Pad
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: LINE2Pad gives the iPad interface to easily login to your LINE account on a second iPhone. After you have logged in you can disable the tweak from the settings to prevent visual glitches. Note: Your chat history will not be transferred to your second device, but all new messages will show up on both devices.
Maintainer: KingPuffdaddi
Author: KingPuffdaddi
Section: Tweaks
Depiction: https://kingpuffdaddi.github.io/depictions/?p=com.kingpuffdaddi.line2pad
Version: 0.0.1
Installed-Size: 352
